{% extends 'music/base.html' %}
{% block title%}
    + Album
{% endblock %}

{% block body %}
    <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add an Album</h5>
            <h6 class="card-subtitle mb-2 text-muted">e.g. Greatest Hits</h6>
                <form class="form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'music/form-template.html' %}

                    <button type="submit" name="button" class="btn btn-success mt-3">Submit</button>

                </form>

          </div>
        </div>
    </div>
{% endblock %}
