{% extends 'music/base.html' %}
{% block title%}
    {{ album.album_title }}
{% endblock %}

{% block body %}
      <div class="container mt-4 flex">

              <div class="col-md-3 offset-md-1">
                  <div class="card" style="">
                      <img class="card-img-top" src="{{album.logo}}" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">{{ album.album_title }} -
                             <span class="text-muted">{{ album.genre }}</span>
                         </h5>
                        <p class="card-text  badge badge-success">{{album.artist}}</p>

                        {% if error_message %}
                            <p class="alert alert-danger"></p>
                        {% endif %}


                      </div>
                  </div>
              </div>
              <div class="col-md-10 offset-md-1 mt-4">


                  <div class="card">

                        <div class="upper-table">
                            <h2 class="mb-3 p-3">All Songs </h2>
                            <div class="show-all">
                                <a href="#" class="btn btn-primary btn-sm"><i class="far fa-eye mr-2"></i>View All</a>
                                <a href="#" class="new-song">Add New Song</a>
                            </div>

                        </div>
                        <table class="table m-4">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">First</th>
                                  <th scope="col">Last</th>
                                  <th scope="col">Handle</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                                <tr>
                                  <th scope="row">2</th>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                                <tr>
                                  <th scope="row">3</th>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                              </tbody>
                            </table>
                  </div>

              </div>


      </div>
{% endblock %}
