{% extends 'music/base.html' %}
{% block title%}
    Home
{% endblock %}
{% block body %}

     <div class="container mt-4">
        <h1>All Albums: </h1>
            <div class="row">
                {% if all_albums %}
                       {% for album in all_albums %}
                            <div class="card mr-4 mt-4" style="width: 16rem;">
                                <a href="{% url 'music:detail' album.id %}">
                                    <img class="card-img-top" src="{{ album.logo.url }}" alt="Card image cap" width="286px;" height="auto;">
                                </a>
                                 <div class="card-body">
                                      <strong class="card-title">{{ album.album_title}}</strong>
                                      <span class="badge badge-success">{{ album.artist }}</span>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                      <div class="card-buttons flex">
                                          <a href="{% url 'music:detail' album.id %}" class="btn btn-primary">More Details</a>
                                          <a href="{% url 'music:album-delete' album.id %}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                                          <a href="#" class="btn btn-warning"><i class="far fa-star"></i></a>
                                      </div>
                                 </div>
                            </div>
                       {% endfor %}

                {% else %}
                          <div class="col-md-8 offset-md-4">
                              <div class="alert alert-danger" role="alert">
                               No albums registered yet!!!
                              </div>
                          </div>

                {% endif %}
            </div>
      </div>
{% endblock %}
