body {
    background-image: url('/static/music/images/bg.jpg');
    font-family: "Raleway";

    /* background: blue; */
}

.navbar-brand {
    font-family: "Satisfy";
    font-size: 25px;

}
.card {
    box-shadow: 27px 26px 12px -14px rgba(87,84,87,0.32);
}
.navbar-brand{
    flex:0.25;
    color: #f9c300;
}

.navbar-toggler {
    border-color: #ffd500;
}

.navbar-nav > li:hover {
    color: #f9c300;
}

.navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#ffd500' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-nav .nav-item .nav-link{
    font-size: 16px;
    color:white;
}
.form-inline {
    flex:1;
}
.new-song{
    margin-top: -10px;
}

.upper-table {
    display: flex;
    justify-content: space-between;
}
.show-all {
    margin:20px;
}
